# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Directory
build-itemviews-Desktop_Qt_5_9_1_MinGW_32bit-Debug
build-tools-Desktop_Qt_5_9_1_MinGW_32bit-Debug

# User file
*.user
*.autosave
